<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: rgb(221, 233, 59);
            color: rgb(9, 17, 89);
        }
    </style>
</head>
<body>
    <center>
        <h1>Hi iam nobitha How are you </h1>
        <h1>Your good name please</h1>
        <a href="{% url 'sujuka' %}"><h1>sujuka responce</h1></a>
    </center>
</body>
</html>