<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: rgb(30, 19, 94);
            color: rgb(255, 185, 7);
        }
    </style>
</head>
<body>
    <center>
        <h1>Hi nobitha Iam fine</h1>
        <h1>My name is sujukaa....</h1>
        <a href="{% url 'nobitha' %}"><h1>nobitha respond</h1></a>
    </center>
</body>
</html>